.container {
  max-width: 1500px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.login-form {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translateY(-55%);
  width: 400px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 24px;
  overflow: hidden;
  padding: 16px 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form h3 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #c07e01;
}

.login-form input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  border-radius: 16px;
  border: none;
  outline: none;
  padding-left: 16px;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.login-form label {
  align-self: flex-start;
  margin-bottom: 8px;
  font-size: 14px;
}

.login-form label span {
  color: red;
}

.login-form button {
  margin-top: 8px;
  padding: 8px 16px;
  border-radius: 16px;
  width: 100px;
  outline: none;
  border: none;
  transition: all 0.2s linear;
  font-size: 16px;
}

.login-form button:active {
  transform: scale(1.1);
  background-color: #c2bb77;
}

.login-form .suggest {
  margin-top: 16px;
}

.router-link {
  text-decoration: none;
}

.router-link:hover {
  text-decoration: underline;
}

.register-form {
  position: unset;
  right: unset;
  top: unset;
  transform: unset;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  width: 520px;
}

.register-form input {
  box-shadow: #c07e01 0 0 2px;
}

.register-wrapper .banner {
  width: 490px;
  height: 100%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background-image: url(../src/assets/imgs/banner-of-a-happy-smiling-puppy-pet-dog.jpg);
  background-size: cover;
  background-position: -50px 0;
}

.register-wrapper {
  height: 100vh;
  background-color: #edf2f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-inner {
  display: flex;
  height: 500px;
}

.landing-nav {
  margin: 20px;
  border-radius: 20px;
}

.nav {
  background-color: rgba(237, 242, 249, 0.96);
  height: 80px;
}

.nav .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav .container input {
  width: 1000px;
  height: 40px;
  padding: 5px 16px 5px 32px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Muli';
}

.nav .container input::placeholder {
  color: #b6c1d2;
  font-size: 14px;
}

.homepage {
  background-color: #edf2f9;
  min-height: 746px;
}

.nav .logo {
  margin: 0;
  margin-right: 130px;
  cursor: pointer;
}

.navbar-end {
  margin-left: auto;
}

.input-wrapper {
  position: relative;
}

.input-wrapper i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #b6c1d2;
}

.user-account {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
  padding: 4px 8px 4px 4px;
  cursor: pointer;
  position: relative;
}

.user-account img {
  object-fit: cover;
  border-radius: 50%;
  width: 24px;
  margin-right: 8px;
}

.user-account span {
  font-size: 13px;
}

.navbar-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification {
  margin-right: 16px;
  border-radius: 50%;
  background-color: #fff;
  padding: 8px 9px;
  position: relative;
  cursor: pointer;
}

.count {
  position: absolute;
  text-align: center;
  top: -8px;
  right: 0;
  width: 16px;
  height: 16px;
  font-size: 10px;
  background-color: #ffa000;
  padding: 2px;
  border-radius: 50%;
  color: #fff;
}

.notification:hover i {
  color: #000;
}

.notification i {
  color: #b6c1d2;
}

.sidebar {
  background-color: #ffb013;
  width: 217px;
  padding: 16px 8px;
  border-radius: 8px;
  margin-right: 16px;
  position: fixed;
  margin-top: 80px;
  z-index: 1;
}

.sidebar li {
  margin-bottom: 16px;
}

.sidebar li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.sidebar li .cart-counter {
  position: absolute;
  top: -4px;
  left: 30px;
  padding: 2px 4px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
}

.sidebar li .counter {
  color: #fff;
  font-size: 12px;
}

.sidebar li a i {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ffd484;
  margin-right: 16px;
  color: #0396ff;
}

.sidebar li:nth-child(2) a i {
  color: #130cb7;
}

.sidebar li:nth-child(3) a i {
  color: #d939cd;
}

.sidebar li:nth-child(4) a i {
  color: #8e0e00;
}

.sidebar li:nth-child(5) a i {
  color: #f6416c;
}

.sidebar li:nth-child(6) a i {
  color: #4d5969;
}

.sidebar li:nth-child(7) a i {
  color: #28c76f;
}

.sidebar li:nth-child(8) a i {
  color: #2828c7;
}

.sidebar li:nth-child(9) a i {
  color: #c7287f;
}

.sidebar li a span {
  color: #4d5969;
  font-size: 16px;
  font-weight: bold;
}

.activeNav,
.sidebar li:hover {
  background-color: #fec75a;
  border-radius: 50px;
  transition: all 0.2s linear;
}

.activeNav i,
.sidebar li:hover a i {
  background-color: #ffdea7 !important;
  transition: all 0.2s linear;
}

.activeNav span,
.sidebar li:hover span {
  color: #fff !important;
  transition: all 0.2s linear;
}

.wrapper-main {
  display: flex;
}

.box {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
}

.main {
  position: relative;
  margin-bottom: 32px;
  left: 233px;
  /* background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); */
  border-radius: 8px;
  /* padding: 16px; */
  box-sizing: border-box;
  width: 1000px;
  margin-top: 80px;
  z-index: 1;
}

.large-size {
  width: 1220px;
}

.submenu {
  width: 120%;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.submenu li:not(:last-child) {
  margin-bottom: 8px;
  border-bottom: 1px solid #edf2f9;
  padding-bottom: 8px;
}

.submenu li i {
  margin-left: 4px;
  font-size: 12px;
}

.copy-right {
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 16px;
}

.home-nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.create-post {
  display: flex;
  align-items: flex-start;
  padding-bottom: 60px;
  position: relative;
}

.create-post:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
  width: 95%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.create-post .input-wrapper {
  width: 100%;
  position: relative;
}

.icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 18px;
  right: 0;
}

.icons i {
  position: static;
  margin-right: 8px;
  font-size: 18px;
}

.create-post input {
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #edf2f9;
}

.create-post input::placeholder {
  font-size: 16px;
  color: #b6c1d2;
}

.create-post__form {
}

.create-post__top {
  padding: 16px 20px;
  background-image: url(./assets/imgs/corner-1.44e8a57b.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.create-post__top h2 {
  font-size: 24px;
  color: #9da9bb;
  font-weight: bold;
}

.create-post__top i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  padding: 24px;
  color: #929597;
  font-size: 24px;
}

.create-post__center {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9fafd;
}

.edit-post-button {
  margin-right: 16px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
}

.post-option {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%);
  background-color: rgb(213, 213, 213);
  border-radius: 8px;
  padding: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.post-option i:hover {
  color: blue;
}

.post-option i:nth-child(2):hover {
  color: red;
}

.author {
  display: flex;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
}

.author p {
  color: #ffa000;
  font-weight: bold;
}

.create-post__bottom {
  padding: 16px;
  padding-top: 0;
  position: relative;
}

.create-post__bottom textarea {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #edf2f9;
  padding: 16px;
  font-size: 16px;
  resize: none;
}

.create-post__btn {
  width: 100%;
  font-size: 14px;
  padding: 8px;
  background-color: #ffc25a;
  text-transform: uppercase;
  color: #5e6e82;
  border-radius: 4px;
}

.active-btn {
  background-color: #ffa000;
  color: #fff;
  cursor: pointer;
}

.active-btn:hover {
  background-color: #cc8000;
}

.not-allowed {
  cursor: not-allowed !important;
}

.not-allowed:hover {
  transform: unset;
  color: inherit;
}

.btn-wrapper {
  padding: 16px;
}

.file-input {
  display: none;
}

.lable-input i {
  bottom: 24px;
  right: 24px;
  font-size: 24px;
  color: #929597;
  cursor: pointer;
}

.post-item {
  border: 1px solid #edf2f9;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 0;
  overflow: hidden;
}

.post-item .create-post__center {
  padding: 0;
}

.post-author {
  padding: 0;
  padding: 8px 20px;
  cursor: pointer;
}

.post-author img {
  width: 38px;
  border-radius: 50%;
}

.name-and-time {
  margin-left: 12px;
}

.name-and-time span {
  display: inline-block;
  margin-top: 8px;
  font-size: 13px;
  color: #5e6e82;
  position: relative;
}

.name-and-time span:after {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-40%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  content: '';
  background-color: #5e6e82;
  margin: 0 8px;
}

.post-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-content img {
  border-radius: 8px;
  margin: -12px;
  margin-top: 16px;
  max-height: 390px;
  object-fit: contain;
  background-color: #efefef;
}

.post-content p {
  font-size: 16px;
  color: #5e6e82;
  line-height: 1.5;
}

.post-action {
  padding: 0;
  display: flex;
  padding: 8px 20px;
  background-color: #f9fafd;
  border: 1px solid #edf2f9;
  border-right: none;
  border-left: none;
}

.post-action > div {
  display: flex;
  cursor: pointer;

  align-items: center;
}

.post-action > div i {
  font-size: 18px;
  margin-right: 4px;
  transition: transform 0.2s ease-in-out;
}

.post-action > div span {
  font-size: 14px;
}

.post-action > div:hover i {
  transform: scale(1.2);
}

.post-action > div {
  margin-right: 24px;
}

.share i {
  color: #a5c7fa;
}

.like {
  position: relative;
}

.like-count {
  font-size: 14px;
}

.like span {
  position: absolute;
}

.liked {
  color: #ff005d;
}

.name-author-create {
  margin-left: 8px;
}

.comment-list-box {
  margin-bottom: 0;
  padding: 0 20px 8px;
  background-color: #f9fafd;
}

.comment-input {
  padding: 16px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  background-color: #f9fafd;
}

.comment-input img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.comment-input__box {
  display: flex;
  align-items: center;
}

.comment-input__input {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #edf2f9;
  padding: 8px;
  font-size: 13px;
  resize: none;
}

.comment-input__button {
  font-size: 14px;
  padding: 8px;
  background-color: #ffc25a;
  text-transform: uppercase;
  color: #5e6e82;
  border-radius: 4px;
  margin-left: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.comment-item {
  display: flex;
  padding-top: 16px;
}

.comment-item img {
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.comment-content {
  display: flex;
  font-size: 13px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 0px 0.25rem rgba(0, 0, 0, 0.15) !important;
}

.comment-content span {
  color: #ffa000;
  font-weight: 600;
  margin-right: 8px;
  cursor: pointer;
  min-width: fit-content;
}

.disable {
  cursor: not-allowed;
  background-color: #f9fafd;
}

/*  */
.create-product-form {
  position: relative;
  padding-top: 8px;
  padding: 32px;
  height: 85%;
  transform: translateY(45px);

  display: flex;
  flex-direction: column;
  width: 90%;

  overflow-y: scroll;
  overflow-x: hidden;
}

.create-product-form label {
  font-size: 14px;
  color: #5e6e82;
  margin-bottom: 8px;
}

.create-product-form input {
  width: 100%;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 2px solid #edf2f9;
  padding: 16px;
  font-size: 16px;
  resize: none;
  background-color: #fff !important;
}

.image-input {
  display: none;
}

.create-product-btn {
  width: 100%;
  padding: 16px;
  margin-top: 16px;
  background-color: #ffc25a;
  text-transform: uppercase;
  color: #5e6e82;
  border-radius: 4px;
  cursor: pointer;
}

.product-list {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  margin-top: 16px;
}

.product-item {
  max-height: 452px;
  min-height: 452px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0px 0.25rem rgba(0, 0, 0, 0.15) !important;
}

.product-item img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0px 0.25rem rgba(0, 0, 0, 0.15) !important;
}

.product-item p {
  margin-bottom: 12px;
  font-size: 16px;
  color: #5e6e82;
  margin-top: 8px;
  max-height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.bottom {
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  width: 100%;
  margin-top: auto;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  border-radius: 8px;
  background-color: #ffc25a;
  color: #5e6e82;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.add-to-cart:hover {
  transform: scale(1.03);
}

.btn {
  font-size: 14px;
  padding: 8px;
  background-color: #ffc25a;
  text-transform: uppercase;
  color: #5e6e82;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-primary {
  background-color: #ffc25a;
  color: #5e6e82;
}

.btn-danger {
  background-color: #ffc25a;
  color: #fff;
}

.btn-danger:hover i {
  color: red;
}

.delete-go {
  margin-left: auto;
}

.cart-list {
  padding: 8px 8px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0px 0.25rem rgba(0, 0, 0, 0.15) !important;
}

.cart-item {
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cart-item:not(:last-child) {
  border-bottom: 1px solid #ffb01338;
  padding-bottom: 20px;
  margin-bottom: 16px;
}

.cart-item-img {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.cart-item-img img {
  margin-right: 16px;
  height: 122px;
  width: 120px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0px 0.25rem rgba(0, 0, 0, 0.15) !important;
}

.quantity {
  display: flex;
  margin-right: 8px;
  height: 34px;
}

.quantity button {
  width: 50px;
}

.quantity input {
  width: 50px;
  height: 100%;
  text-align: center;
  border-radius: 8px;
}

.cart-item-price {
  color: #ffb013;
  margin-top: 16px;
  font-weight: bold;
}

.checkout-btn {
  margin-top: 8px;
  width: 100%;
  background-color: #4b7be5;
}

.checkout-btn {
  color: #fff;
}

.checkout-btn:hover {
}

.invite-friend {
  background-color: rgb(21, 138, 222);
  border-radius: 16px;
  padding: 8px;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
}

.invite-friend span {
  margin-left: 8px;
}

.cart {
  display: flex;
  flex-direction: column;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  font-size: 24px;
}

.cart-empty i {
  margin-bottom: 16px;
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.9s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-content {
  width: 400px;
  height: auto;
  background-color: #ffc25a;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0px 0.25rem rgba(0, 0, 0, 0.15) !important;
  animation: scaleUp 0.5s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.pop-up-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-popup {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 50%;
}

.close-popup-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-popup:hover {
  background-color: red;
}

.pop-up-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.pop-up-body-content-header {
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.pop-up-body-content-header h4 {
  margin-bottom: 8px;
}

.pop-up-body input {
  border: 1px solid #000;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 14px;
}

.start-order {
  width: 100%;
  border-radius: 30px;
  padding: 8px;
  margin-top: 8px;
  cursor: pointer;
  color: #000;
  background-color: rgb(21, 138, 222);
}

.cart-action {
  display: flex;
}
.delete-cart-item {
  margin-left: 16px;
}

.delete-cart-item .btn {
  background-color: transparent;
}

.delete-cart-item i {
  color: red;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.delete-cart-item .btn:hover i {
  transform: scale(1.2);
}

.token {
  margin-top: 24px;
}

.copy-btn {
  width: 100%;
  border-radius: 30px;
  padding: 8px;
  margin-top: 8px;
  cursor: pointer;
  color: #000;
  background-color: rgb(21, 138, 222);
}

.go-cart {
  background-color: rgb(21, 138, 222);
  border-radius: 16px;
  padding: 8px;
  color: #fff;
}

.go-item-inner {
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8e8e8;
}

.go-item:first-child {
  margin-top: 0;
}

.go-item:last-child {
  border-bottom: 1px solid transparent;
}

.go-header {
  display: flex;
  align-items: center;
}

.go-header .name {
  font-weight: bold;
  font-size: 14px;
}

.label-go-name {
  margin-bottom: 8px;
}

#cart {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  outline: none;
  font-size: 14px;
  text-align: center;
  margin-bottom: 4px;
}

.go-body {
  margin-top: 8px;
  padding-right: 0;
  padding-left: 0;
}

.leave-go {
  margin-left: auto;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 16px;
  padding: 4px 8px;
}

.leave-go:hover {
  color: #fff;
  background-color: #4b7be5;
  border: 1px solid #4b7be5;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.create-product-btn {
  display: block;
  width: 200px;
  margin: 0;
  margin-left: auto;
  background-color: rgb(1, 161, 1);
  margin-bottom: 8px;
}

.image-preview {
  height: 300px;
}

.saved {
  color: #4b7be5;
}

.my-profile {
  padding: 0;
}

.cover-img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
}

.profile-bottom {
  position: relative;
}

.profile-avatar img {
  object-fit: cover;
  position: absolute;
  left: 1%;
  top: -100px;

  border-radius: 50%;
  width: 165px;
  height: 165px;
  border: 8px solid #fff;
}

.more-info {
  padding: 24px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.profile-name {
  font-size: 24px;
  color: #344050;
}

.quote {
  color: #9da9bb;
  display: inline-block;
  width: 500px;
  margin-top: 16px;
  line-height: 1.6;
}

.change-avatar {
  position: absolute;
  top: 10px;
  left: 125px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px;
  border-radius: 50%;
}

.change-avatar input {
  display: none;
}

.change-avatar label {
  cursor: pointer;
}

.change-avatar i {
  color: #fff;
}

.btn-change-password {
  height: 34px;
  background-color: rgb(21, 138, 222);
  color: #fff;
  width: 100%;
}

.hehe {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
}

.iii {
  padding: 0;
}

.ooo {
  padding: 28px 30px 24px;
  display: flex;
  flex-direction: column;
}

.ooo i {
  margin-right: 8px;
}

.ppp {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: #ee4d2d;
  text-transform: capitalize;
}

.name-and-sdt {
  display: flex;
}

.name-and-sdt input {
  height: 38px;
  box-sizing: border-box;
  width: 210px;
  padding: 10px;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  min-width: 0;
  color: #222;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 24px;
}

.detail-address-wrap {
  margin-top: 16px;
}

.aa {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.name-and-sdt label,
.detail-address-wrap label {
  margin-bottom: 4px;
  font-size: 14px;
  display: inline-block;
}

.checkout-heading {
  font-size: 24px;
  color: #344050;
  padding: 16px 24px;
  font-weight: bold;
}

.add-new-address {
  margin: 0;
  text-transform: none;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
}

.add-new-address:first-child {
  width: 110px;
}

.create-new-address {
  margin: 0;
  margin-left: auto;
}

.btn-wraper {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-end;
}

.cancel {
  background-color: red;
}

.fwb {
  font-weight: bold;
}

.fwb span {
  margin-right: 8px;
}

.kk {
  padding: 9px 0;
  padding-top: 0;
  display: flex;
  align-items: center;
}

.kk label {
  margin-left: 16px;
}

.delete-address {
  margin-left: auto;
}

.delete-address i {
  margin-right: 0;
}

.jj {
  margin-top: 16px;
}

.checkout-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 0;
}

.checkout-item-img img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.checkout-item-name,
.checkout-title span:nth-child(1) {
  width: 400px;
  padding-right: 16px;
}

.checkout-item-price,
.checkout-title span:nth-child(2) {
  width: 114px;
}

.checkout-item-quantity,
.checkout-title span:nth-child(3) {
  width: 114px;
  text-align: center;
}

.into-money,
.checkout-title span:nth-child(4) {
  margin-left: auto;
}

.checkout-title {
  display: flex;
  padding-left: 56px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #cdcdcd;
}

.checkout-bottom {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cdcdcd;
}

.message-for-shop input {
  width: 400px;
  height: 38px;
  box-sizing: border-box;
  padding: 10px;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  min-width: 0;
  color: #222;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.checkout-finish {
  display: flex;
  margin-top: 8px;
}
.checkout-finish button {
  margin-left: auto;
  text-transform: none;
  width: 200px;
}

.rescued,
.not-rescued {
  background-color: red;
  padding: 4px 16px;
  border-radius: 32px;
  width: 152px;
  text-align: center;
}

.rescued span,
.not-rescued span {
  margin-right: 8px;
}

.rescued {
  background-color: green;
  color: white;
}

.not-rescued {
  background-color: #d92828;
  color: white;
}

.change-status-btn {
  margin: 8px;
  background-color: transparent;
}

.change-status-btn i {
  font-size: 24px;
}

.change-status-btn:hover i {
  color: green;
}

.open:hover i {
  color: red;
}

.change-status-cart {
  text-transform: none;
  background-color: red;
}

.change-status-cart__reshare {
  background-color: green;
}

.edit-name-btn {
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
}

.change-name {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 8px;
  border-radius: 32px;
}

.change-password {
  display: flex;
  flex-direction: column;
}

.change-password input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 32px;
}

.delete-product {
  background-color: unset;
}

.delete-product i {
  color: red;
}

.edit-product {
  background-color: #1379ff;
}

.edit-product:hover i {
  color: rgb(128, 66, 0);
}

.table-bordered thead tr {
  display: flex;
  justify-content: space-between;
}

.order-table {
  width: 100%;
}

.box-title {
  margin-bottom: 16px;
  font-weight: bold;
}

.address {
  margin-bottom: 16px;
}

.info-top {
  display: flex;
  justify-content: space-between;
}

.fwba {
  color: #28c76f;
}

.total-mon {
  display: flex;
  justify-content: space-between;
}

.hey {
  margin-bottom: 24px;
  padding: 8px;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
}

.btn-cancel-order {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 16px;
  color: white;

  font-size: 16px;
  padding: 4px 12px;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}
.btn-cancel-order:hover {
  background-color: #d92828;
}

.select {
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  padding: 0 8px;
  outline: none;
  font-size: 14px;
  color: #222;
  appearance: none;
  text-align: center;
  cursor: pointer;
  background-color: green;
  color: #fff;
}
.sort-product {
  display: flex;
  justify-content: flex-end;
}

.sort-btn {
  font-size: 12px;
  text-transform: unset;
  background-color: transparent;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
}

.sort-btn:hover {
  color: unset;
}

.sort-btn i {
  margin-left: 4px;
}
